.top {
    background-color: #E4F9F5;
    position        : relative;
    padding         : 100px;
    text-align      : center;

}

.x {
    font-weight: normal;
}

.Pr {
    text-decoration: underline;

}

body {
    margin: 00px;
    color : #40514E;

    font-family: 'Merriweather', serif;
    text-align : center;

}

h1 {
    margin     : 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size  : 562.5%;
    color      : #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size  : 2.5rem;
    color      : #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color      : #11999E;

}

.bottom-cloud {
    position: absolute;
    left    : 250px;
    bottom  : 300px;

}

.top-cloud {
    position: absolute;
    right   : 300px;
    top     : 70px;
}

a {
    color : #11999E;
    margin: 10px 20px;
}

.bottom-container a:hover{
    color: #EAF6F6;
}
.skill-row {
    width      : 50%;
    text-align : left;
    margin     : 100px auto 100px auto;
    line-height: 2;
}

.first-image {
    width       : 25%;
    float       : left;
    margin-right: 30px;
}

.second-img {
    width       : 25%;
    float       : right;
    margin-right: 30px;
}




.profile img {
    width     : 20%;
    height    : 20%;
    position  : relative;
    margin-top: 30px;

}

.profile p {
    width         : 500px;
    margin        : 16px auto;
    font-family   : 'Merriweather', serif;
    letter-spacing: 0.5px;


}

hr {
    border-style    : dotted none none none;
    width           : 4%;
    border-top-width: 6px;
    border-color    : #cbf1f5;
}

.contact-me p {
    margin     : 40px auto 40px;
    line-height: 25px;

}



.bottom-container {
    background-color: #66BFBF;
    color           : #EAF6F6;
    height          : 70px;
    font-family     : 'Montserrat';
    padding         : 25px;
    padding-bottom  : 0px;
    margin-top      : 30px;


}

.bottom-container a {

    color          : #11999E;
    font-style     : 'Montserrat';
    text-decoration: none;
    margin-top     : 25px;
}

p {
    line-height: 2;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
}





.btn {
    background           : #00CEF2;
    background-image     : -webkit-linear-gradient(top, #00CEF2, #1383BA);
    background-image     : -moz-linear-gradient(top, #00CEF2, #1383BA);
    background-image     : -ms-linear-gradient(top, #00CEF2, #1383BA);
    background-image     : -o-linear-gradient(top, #00CEF2, #1383BA);
    background-image     : linear-gradient(to bottom, #00CEF2, #1383BA);
    -webkit-border-radius: 13px;
    -moz-border-radius   : 13px;
    border-radius        : 13px;
    color                : #EAF6F6;
    font-family          : 'Montserrat', sans-serif;
    font-size            : 16px;
    font-weight          : 100;
    padding              : 15px;
    border               : solid #337FED 1px;
    text-decoration      : none;
    display              : inline-block;
    cursor               : pointer;
    text-align           : center;
}

.btn:hover {
    border               : solid #337FED 1px;
    background           : #47BCD0;
    background-image     : -webkit-linear-gradient(top, #47BCD0, #64DBEF);
    background-image     : -moz-linear-gradient(top, #47BCD0, #64DBEF);
    background-image     : -ms-linear-gradient(top, #47BCD0, #64DBEF);
    background-image     : -o-linear-gradient(top, #47BCD0, #64DBEF);
    background-image     : linear-gradient(to bottom, #47BCD0, #64DBEF);
    -webkit-border-radius: 15px;
    -moz-border-radius   : 15px;
    border-radius        : 15px;
    text-decoration      : none;
}